*{
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    align-items: center;
}


header{
    background-color:pink;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;

}
.logo{
    display: block;
    max-width: 180px;
}
.logo img{
    width: 100%;
}
html, body{
    font-family: sans-serif;
}
.main-menu{
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    
}
.main-menu li{
    list-style: none;
    text-align: center;
}
.main-menu li a{
    display: block;
    color: #fff ;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 10px;
    text-align: center;
}
.search-box{
    margin-left: auto;
}

.search-box .sb-text{
    border-radius: 10px;
    padding: 0 10px;
    line-height: 20px;
    width: 100px;
    background: transparent url(../images/1024px-Search_Icon.svg.png) no-repeat right;
    background-size: contain;
    
}
.main-menu li a:hover{
    color: blue;
}
.main-menu ul{
    margin-top: 0px;
    min-width: 150px;
    position:absolute;
    display: none;
    list-style: none;
    border: 1px solid gray;
    background-color: hotpink;
    border-radius: 5px;
    line-height: 5px;

}
.main-menu ul a{
    display: block;
    text-decoration: none;
    color: white;
    border-top: 2px solid gray;
    padding-left: 0px;
    font-variant: small-caps;
    text-align: center;
}
.main-menu>li:hover>ul{
    display: block;
}
.main-menu ul a:hover{
    background-color: blue;
    color: white;
    background: transparent url("/images/bullet.png") no-repeat 5px center;
    background-size:10%;
    background-color: blue;
    
}
h2{
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgb(80, 80, 228)
}
.news1{
    float: left;
    position: relative;
    margin-left: 10px;
}
.news1 a{
    text-align: left;
    font-size: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 80px;
    left: 200px;
    
}
.news1 img{
    margin-top: 50px;
}
.news1 img:hover{
    transform: scale(1.2);
}
.news1 a:hover{
    color: blue;
    
}
.news1 p{
    position: absolute;
    bottom: 4px;
    left:200px;
    font-size: 9px;
    text-align: left;
    line-height: 15px;
}
.new2 a{
    text-decoration: none;
    font-size: 10px;
    position: relative;
    top: 70px;
    color: black;
    left: 10px;
    background-color: grey;
    padding: 15px;
}
.new2 a:hover{
    color: blue;
}
.new2 p{
    line-height: 15px;
   font-size: 9px;
   position: relative;
   top: 80px;
   left: 10px;
   margin-right: 400px;
   background-color: grey;
   padding:10px;
   padding-bottom: 50px;
}
.new2 img{
    position: relative;
    left: 260px;
    bottom: 66px;
    z-index: 10;
    
}
.new2 img:hover{
    transform: scale(1.2);
}
.new3{
    float: left;

}
.new3 a{
    display: inline-block;
    position:relative;
    bottom: 170px;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.new3 a:hover{
    color: blue;
}
.new3 p{
    display: inline-block;
    position: relative;
    bottom: 170px;
    font-size: 9px;
    left: 184px;
    line-height: 15px;
}
.new3 img{
    margin-left: 20px;
}
.new3 img:hover{
    transform: scale(1.2);
}
.tool{
    width: 25%;
    height: 25%;
    position: relative;
    bottom: 650px;
    left: 60%;
}
.tool>.tin{
    display:block;
    margin-bottom: 5px;
    position: relative;
    left: 20px;
}
.tool>.tin> img{
  width: 80%;
}
.tool>.tin> img:hover{
    transform: scale(1.2);
}
.tool>.tin>.noidung a:hover{
    color: blue;
}



.tool>.tin>.noidung>a{
    font-size: 10px;
    text-align: left;
    text-decoration: none;
    color: gray;
    position: relative;
    left: 160px;
    bottom: 100px;
}

footer{
    background-image: url(../images/footer.jpg);
    padding: 5px;
    bottom: 0;
    position: relative;
    clear: both;
    top: -650px;
    min-height: 70%;
}
.thongtin a:hover{
    color:rebeccapurple
}
.thongtin{
    text-align: left;
    text-decoration: none;
    font-style: italic;
    font-size: small;
    font-family:serif;
    
}
.contact a{
    text-align: left;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    color: blue;
    padding: 0 10px;

}

.contact>a:hover{
    color: blueviolet;
}


html, 
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    min-height: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
    
    
}
html{
    min-height: 100%;
    height: 100%;
  }

  
  footer{
    margin-top:auto; 
  }
   
  * {
    margin: 0;
}
html, body {
    height: 100%;
}
